body {
  margin: 0;
  
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4CAF50;
  padding: 10px 20px;
  color: #fff;
  
}


.title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 5px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
  background-color: #2e7d32;
  border-radius: 5px;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: #4CAF50;
  border-radius: 10px;
  padding: 10px;
}

.search-box {
  display: flex;
  align-items: center;
  position: relative;
}

.search-box input[type="text"] {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}

.search-box input[type="text"]:focus {
  border-color: #2e7d32;
  box-shadow: 0 0 5px rgba(46, 125, 50, 0.5);
}

@media (max-width: 768px) {
  .menu-toggle {
      display: block;
  }

  .nav-links {
      display: none;
  }

  .nav-links.open {
      display: flex;
  }

  .search-box {
      display: none; /* Hide search box on smaller screens */
  }
}
